* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::selection {
    background: black;
    color: white;
  }
}

html, body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  margin: 0 auto;
  max-width: 650px;
  padding: 5vh 25px 25px;
  width: 90%;

  h1, h2, h3 {
    text-align: center;
  }
}